<!-- ADMISSION NAV START -->
<li class="nav-item has-treeview men menu-open">
    <!-- OPTION HEADER START -->
    <a href="#" class="nav-link active">
        <i class="nav-icon fas fa-user-circle"></i>
        <p>
            PATIENT ADMISSION
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <!-- OPTION HEADER END -->
    <!-- LEVEL 1 CONTAINER START -->
    <ul class="nav nav-treeview">
        <!-- LEVEL 1 OPTION START -->
        <!-- LEVEL 1 OPTION END -->
        <partial name="HTMLSections/Sidebar/AdmissionMenu/ReferralNavPartial-vrl" />
        <partial name="HTMLSections/Sidebar/AdmissionMenu/AdmissionFileNavPartial" />
    </ul>
    <!-- LEVEL 1 CONTAINER END -->
</li>
<!-- ADMISSION NAV END -->
