<!-- PATIENT TREATMENT NAV START -->
<li class="nav-item has-treeview men menu-open">
    <!-- OPTION HEADER START -->
    <a href="#" class="nav-link active">
        <i class="nav-icon fas fa-user"></i>
        <p>
            PATIENT TREATMENT
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <!-- OPTION HEADER END -->
    <!-- LEVEL 1 CONTAINER START -->
        <partial name="HTMLSections/Sidebar/TreatmentMenu/DispenseNavPartial" />
        <partial name="HTMLSections/Sidebar/TreatmentMenu/InformationNavPartial" />
        <partial name="HTMLSections/Sidebar/TreatmentMenu/PrescribeNavPartial" />
        <partial name="HTMLSections/Sidebar/TreatmentMenu/TreatmentNavPartial" />

    </ul>
    <!-- LEVEL 1 CONTAINER END -->
</li>
<!-- PATIENT TREATMENT NAV END -->