@model MoveReport

<div class="card-body">
	<!-- ADD CONTENT HERE -->
	<!-- SELECT INPUT START -->
	<div class="form-group">

		<!-- SELECT PATIENT NAME INPUT START -->
		<!-- INPUT SEARCH LABEL -->
		<label asp-for="PatientID"> Patient Name</label>

		<!-- INPUT ITEM -->
		<select asp-for="PatientID"
				class="selectpicker"
				data-width="100%"
				data-live-search="true"
				title="Select Patient">
			<partial name="HTMLSections/Card/Body/_selectOptionPartial" model="Model.PatientNamesList" />

		</select>


		<!-- INPUT VALIDATION MESSAGE -->
		<span asp-validation-for="PatientID"
			  style="display:inline" />
	</div>
	<!-- SELECT INPUT END -->
	<!-- DATE RANGE INPUT START -->
	<div class="form-group">

		<!-- LABEL -->
		<label asp-for="DateInput">Date Range:</label>

		<!-- ICON -->
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text">
					<i class="far fa-calendar-alt"></i>
				</span>
			</div>

			<!-- INPUT ITEM -->
			<input asp-for="DateInput"
				   type="text"
				   class="form-control float-right"
				   id="rangePicker">
		</div>
	</div>
	<!-- DATE RANGE INPUT END -->
</div>
