<!-- LEVEL 1 OPTION START -->
<li class="nav-item">
    <a asp-controller="Profile"
       asp-action="@nameof(IProfileController.Create)"
       class="nav-link">
        <i class="nav-icon fas fa-edit nav-icon"></i>
        <p>Create Profile</p>
    </a>
</li>
<!-- LEVEL 1 OPTION END -->