<!-- LEVEL 1 & 2 CONTAINER START -->
<li class="nav-item has-treeview menu-open">
    <!-- LEVEL 1 OPTION START -->
    <a href="#" class="nav-link active">
        <i class="nav-icon fas fa-edit nav-icon"></i>
        <p>
            Create Profile
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <!-- LEVEL 1 OPTION END -->
    <!-- LEVEL 2 CONTAINER START -->
    <ul class="nav nav-treeview ml-1">
        <!-- LEVEL 2 OPTION START -->
        <li class="nav-item">
            <a class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Personal Information</p>
            </a>
        </li>
        <!-- LEVEL 2 OPTION END -->
        <!-- LEVEL 2 OPTION START -->
        <li class="nav-item">
            <a class="nav-link active">
                <i class="far fa-dot-circle nav-icon"></i>
                <p>Next of Kin</p>
            </a>
        </li>
        <!-- LEVEL 2 OPTION END -->
        <!-- LEVEL 2 OPTION START -->
        <li class="nav-item">
            <a class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Medical Aid Information</p>
            </a>
        </li>
        <!-- LEVEL 2 OPTION END -->
        <!-- LEVEL 2 OPTION START -->
        <li class="nav-item">
            <a class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Confirm and Create</p>
            </a>
        </li>
        <!-- LEVEL 2 OPTION END -->
    </ul>
    <!-- LEVEL 2 CONTAINER END -->
</li>
<!-- LEVEL 1 & 2 CONTAINER END -->