<!-- LEVEL 1 OPTION START -->
<li class="nav-item">
    <a asp-controller="Profile"
       asp-action="@nameof(IProfileController.Diagnosis)"
       class="nav-link">
        <i class="fas fa-medkit nav-icon"></i>
        <p>Diagnosis</p>
    </a>
</li>
<!-- LEVEL 1 OPTION END -->