<!-- LEVEL 1 CONTAINER START -->
<li class="nav-item">
    <!-- LEVEL 1 OPTION START -->
    <a asp-controller="Profile"
       asp-action="@nameof(IProfileController.Diagnosis)"
       class="nav-link">
        <i class="nav-icon fas fa-share nav-icon"></i>
        <p>
            Refer Patient
        </p>
    </a>
    <!-- LEVEL 1 OPTION END -->
</li>
<!-- LEVEL 1 CONTAINER END -->