<!-- LEVEL 1 OPTION START -->
<li class="nav-item">
    <a asp-controller="Profile"
       asp-action="@nameof(IProfileController.Search)"
       class="nav-link">
        <i class="fas fa-search nav-icon"></i>
        <p>Search for Patient</p>
    </a>
</li>
<!-- LEVEL 1 OPTION END -->