<div class="card-header">
    <h3 class="card-title"> View Schedule </h3>
    <!-- CARD TOOLS START -->
    <div class="card-tools">

        <!-- ADD CARD TOOLS HERE -->
        <!-- This will cause the card to minimize when clicked -->
        <partial name="HTMLSections/Card/_collapsePartial" />
        <!-- This will cause the card to maximize when clicked -->
        <partial name="HTMLSections/Card/_maximizePartial" />

    </div>
    <!-- CARD TOOLS END -->
</div>