@model ViewTimesheetModel
<!-- SIDEBAR NAV SECTION -->
@section appointmentMenu{
    <li class="nav-item has-treeview men menu-open">
        <!-- OPTION HEADER START -->
        <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-clock"></i>
            <p>
                SCHEDULING
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <!-- OPTION HEADER END -->
        <!-- LEVEL 1 CONTAINER START -->
        <ul class="nav nav-treeview">

            <!-- LEVEL 1 OPTION START -->
            <li class="nav-item">
                <a asp-controller="StaffScheduling"
                   asp-action="CreateSchedule"
                   class="nav-link">
                    <i class="nav-icon fas fa-edit nav-icon"></i>

                    <p> Create Schedule </p>
                </a>
            </li>
            <!-- LEVEL 1 OPTION END -->
            <!-- LEVEL 1 OPTION START -->
            <li class="nav-item">
                <a asp-controller="StaffScheduling"
                   asp-action="ViewSchedule"
                   class="nav-link">
                    <i class="nav-icon fas fa-calendar nav-icon"></i>

                    <p> View Schedule </p>
                </a>
            </li>
            <!-- LEVEL 1 OPTION END -->
            <!-- LEVEL 1 OPTION START -->
            <li class="nav-item">
                <a asp-controller="StaffScheduling"
                   asp-action="GenerateTimesheet"
                   class="nav-link">
                    <i class="nav-icon fas fa-cogs nav-icon"></i>

                    <p> Generate Timesheet </p>
                </a>
            </li>
            <!-- LEVEL 1 OPTION END -->
            <!-- LEVEL 1 OPTION START -->
            <li class="nav-item">
                <a asp-controller="StaffScheduling"
                   asp-action="ViewTimesheet"
                   class="nav-link active">
                    <i class="nav-icon fas fa-clipboard nav-icon"></i>

                    <p> View Timesheet </p>
                </a>
            </li>
            <!-- LEVEL 1 OPTION END -->

        </ul>
        <!-- LEVEL 1 CONTAINER END -->
    </li>
}

<!-- PAGE HEADER -->
<partial name="Header/viewTimesheetPartial" />

<!-- CONTENT CONTAINER START -->
<div class="content">
    <div class="container-fluid">
        <!-- 12 COLUMN ROW START -->
        <div class="row justify-content-center">
            <div class="col-12"> </div>
            <!-- ADD CARD HERE -->
            <div class="col-md-12">
                <div class="card card-lightblue">
                    <!-- CARD HEADER START -->
                    <div class="card-header">
                        <h3 class="card-title"> View Timesheet </h3>
                    </div>
                    <!-- CARD HEADER END -->

                    <!-- CARD BODY START -->
                    <partial name="Card/ViewTimesheet/tableBodyPartial" />
                    <!-- CARD BODY END -->

                    <!-- CARD FOOTER START -->
                    <div class="card-footer">
                        <button asp-action="@nameof(IStaffSchedulingController.ViewSchedule)"
                                type="submit"
                                class="btn btn-outline-primary float-left">
                            View Schedule
                        </button>
                        <button asp-action="@nameof(IStaffSchedulingController.GenerateTimesheet)"
                                type="submit"
                                class="btn btn-outline-primary float-right">
                            BACK
                        </button>
                    </div>
                    <!-- CARD FOOTER END -->

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {

            $("#dtTable").DataTable({
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "buttons": ["pdf", "print", "colvis"]
            }).buttons().container().appendTo('#dtTable_wrapper .col-md-6:eq(0)');
        })
    </script>
}