<a href="#" class="brand-link">
    <img src="~/img/techbuzz-logo.svg"
         alt="Logo Image"
         class="brand-image img-sm"
         style="opacity: .7">
    <span class="ml-3 brand-text font-weight-light">WARDx ONLINE</span>
</a>