<li class="nav-item has-treeview men">
        <!-- OPTION HEADER START -->
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-user"></i>
            <p>
                PATIENT TREATMENT
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <!-- OPTION HEADER END -->
        <!-- LEVEL 1 CONTAINER START -->
        <ul class="nav nav-treeview">
            <partial name="HTMLSections/Sidebar/TreatmentMenu/DispenseNavPartial" />
            <partial name="HTMLSections/Sidebar/TreatmentMenu/PrescribeNavPartial" />
            <partial name="HTMLSections/Sidebar/TreatmentMenu/TreatmentNavPartial" />
            <partial name="HTMLSections/Sidebar/TreatmentMenu/RecordVitalsNavPartial" />
            <partial name="HTMLSections/Sidebar/TreatmentMenu/RequestDoctorNavPartial" />
        </ul>
        <!-- LEVEL 1 CONTAINER END -->
    </li>