<li class="nav-item has-treeview men">
    <!-- OPTION HEADER START -->
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-bed"></i>
        <p>
            PATIENT ADMISSION
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <!-- OPTION HEADER END -->
    <!-- LEVEL 1 CONTAINER START -->
    <ul class="nav nav-treeview">
        <partial name="HTMLSections/Sidebar/AdmissionMenu/ReferralNavPartial"/>
        <partial name="HTMLSections/Sidebar/AdmissionMenu/AdmissionFileNavPartial" />

    </ul>
    <!-- LEVEL 1 CONTAINER END -->
</li>