<form class="col-md-6">
	<div class="card card-lightblue">
		<div class="card-header">
			<h3 class="card-title">Default Card Example</h3>
			<!-- CARD TOOLS START -->
			<div class="card-tools">
				<!-- Buttons, labels, and many other things can be placed here! -->
				<!-- ADD CARD TOOLS HERE -->
				<!-- This will cause the card to maximize when clicked -->
				<partial name="HTMLSections/Card/_maximizePartial" />
				<!-- This will cause the card to minimize when clicked -->
				<partial name="HTMLSections/Card/_collapsePartial" />

			</div>
			<!-- /.card-tools -->
		</div>
		<!-- /.card-header -->
		<div class="card-body">
			The body of the card
		</div>
		<!-- /.card-body -->
		<div class="card-footer">
			The footer of the card
		</div>
	</div>
</form>