<!-- LEVEL 1 & 2 CONTAINER START -->
<li class="nav-item has-treeview ">

    <!-- LEVEL 1 OPTION START -->
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-folder-open"></i>        
        <p>
            Patient Information
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <!-- LEVEL 1 OPTION END -->
    <!-- LEVEL 2 CONTAINER START -->
    <ul class="nav nav-treeview ml-1">
        <!-- LEVEL 2 OPTION START -->
        <li class="nav-item">
            <a class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>View Patient Profile</p>
            </a>
        </li>
        <!-- LEVEL 2 OPTION END -->
        <!-- LEVEL 2 OPTION START -->
        <li class="nav-item">
            <a class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>View Medical History </p>
            </a>
        </li>
        <!-- LEVEL 2 OPTION END -->
        <!-- LEVEL 2 OPTION START -->
        <li class="nav-item">
            <a class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>View Referral</p>
            </a>
        </li>
        <!-- LEVEL 2 OPTION END -->
    </ul>
    <!-- LEVEL 2 CONTAINER END -->
</li>
<!-- LEVEL 1 & 2 CONTAINER END -->