<!-- LEVEL 1 OPTION START -->
<li class="nav-item">
    <a asp-controller="Treatment"
       asp-action="@nameof(ITreatmentController.Prescribe)"
       class="nav-link">
        <i class="nav-icon fas fa-edit nav-icon"></i>
        <p>Prescribe Medication</p>
    </a>
</li>
<!-- LEVEL 1 OPTION END -->
