<!-- LEVEL 1 & 2 CONTAINER START -->
<li class="nav-item">

    <!-- LEVEL 1 OPTION START -->
    <a asp-controller="Treatment"
       asp-action="@nameof(ITreatmentController.RecordVitals)"
       class="nav-link">
        <i class="nav-icon fas fa-edit nav-icon"></i>
        <p>
            Record Vitals
        </p>
    </a>
   
</li>
<!-- LEVEL 1 & 2 CONTAINER END -->


