<!-- LEVEL 1 & 2 CONTAINER START -->
<li class="nav-item has-treeview ">

    <!-- LEVEL 1 OPTION START -->
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-edit nav-icon"></i>
        <p>
            Record Vitals
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <!-- LEVEL 1 OPTION END -->
    <!-- LEVEL 2 CONTAINER START -->
    <ul class="nav nav-treeview ml-1">
        <!-- LEVEL 2 OPTION START -->
        <li class="nav-item">
            <a asp-controller="Treatment"
               asp-action="ViewVitals"
               class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>View Vital Signs</p>
            </a>
        </li>
        
    </ul>
    <!-- LEVEL 2 CONTAINER END -->
</li>
<!-- LEVEL 1 & 2 CONTAINER END -->
