<!-- LEVEL 1 OPTION START -->
<li class="nav-item">
    <a asp-controller="Treatment"
       asp-action="@nameof(ITreatmentController.RequestDoctor)"
       class="nav-link">
        <i class=" nav-icon fas fa-envelope"></i>        
        <p>Request Doctor</p>
    </a>
</li>
<!-- LEVEL 1 OPTION END -->