<!-- LEVEL 1 OPTION START -->
<li class="nav-item">
    <a asp-controller="Treatment"
       asp-action="Treatment"
       class="nav-link">
        <i class="nav-icon fas fa-pills"></i>
        <p>Treatment</p>
    </a>
</li>
<!-- LEVEL 1 OPTION END -->