<div class="modal fade"
     id="patientMoveInHelp">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <!-- HEADER TITLE HERE -->
                <h4 class="modal-title">
                    Check a patient back into the ward.
                </h4>
                <!-- CLOSE BUTTON -->
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- CAROUSEL IDENTIFIER NAME -->
                <div id="carouselCheckIn"
                     class="carousel slide"
                     data-ride="carousel">
                    <ol class="carousel-indicators">
                        <!-- CAROUSEL IDENTIFIER TARGET -->
                        <li data-target="#carouselCheckIn"
                            data-slide-to="0"
                            class="active"></li>
                        <!-- CAROUSEL IDENTIFIER TARGET -->
                        <li data-target="#carouselCheckIn"
                            data-slide-to="1"
                            class=""></li>
                        <!-- CAROUSEL IDENTIFIER TARGET -->
                        <li data-target="#carouselCheckIn"
                            data-slide-to="2"
                            class=""></li>
                    </ol>
					<div class="carousel-inner">
						<!-- CAROUSEL FIRST ITEM -->
						<div class="carousel-item carousel-item-next carousel-item-left">
							<!-- IAMGE -->
							<img class="d-block w-100" src="~/img/help/patientmove/CheckIn1.png" />
							<!-- DESCRIPTION -->
							<div class="text-center">
								Select the
								<!-- HIGHLIGHT -->
								<code>
									'Check In Patient'
								</code>
								menu from the side navigation.
							</div>
						</div>
						<div class="carousel-item">
							<!-- IAMGE -->
							<img class="d-block w-100" src="~/img/help/patientmove/CheckIn2.png" />
							<!-- DESCRIPTION -->
							<div class="text-center">
								The Receptionist needs to select the <strong>patient</strong> that needs to be checked back into the ward.
							</div>
						</div>
						<div class="carousel-item">
							<!-- IAMGE -->
							<img class="d-block w-100" src="~/img/help/patientmove/CheckInButton.png" />
							<!-- DESCRIPTION -->
							<div class="text-center">
								Click on the <strong>Check In</strong> button.
							</div>
						</div>
						<!-- CAROUSEL LAST ITEM -->
						<div class="carousel-item active carousel-item-left">
							<!-- IAMGE -->
							<img class="d-block w-100" src="~/img/help/patientmove/CheckIn3.png" />
							<!-- DESCRIPTION -->
							<div class="text-center">
								Once the patient has been <strong>successfully been checked in</strong>, their movement record will be added to
								the <strong>table below with ALL</strong> their movement details for the day.
							</div>
						</div>
					</div>
                    <!-- CAROUSEL PREVIOUS -->
                    <a class="carousel-control-prev"
                       href="#carouselCheckIn"
                       role="button"
                       data-slide="prev">
                        <span class="carousel-control-prev-icon"
                              aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <!-- CAROUSEL NEXT -->
                    <a class="carousel-control-next"
                       href="#carouselCheckIn"
                       role="button" data-slide="next">
                        <span class="carousel-control-next-icon"
                              aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>