<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>WARDx | @ViewBag.Title</title>

	<!-- Font Awesome Icons [all.min.css] -->
	<link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
	<!-- Ionicons [ionicons.min.css]-->
	<link href="~/lib/ionicons/css/ionicons.min.css" rel="stylesheet" />
	<!-- DataTable -->
	<link href="~/lib/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
	<link href="~/lib/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
	<link href="~/lib/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
	<!-- Daterange picker [daterangepicker.css] -->
	<link href="~/lib/daterangepicker/daterangepicker.css" rel="stylesheet" />
	<!-- Summernote [summernote-bs4.min.css] -->
	<link href="~/lib/summernote/summernote-bs4.min.css" rel="stylesheet" />
	<!-- overlayScrollbars -->
	<link rel="stylesheet" href="~/lib/overlayScrollbars/css/OverlayScrollbars.min.css">
	<!-- Bootstrap-select [bootstrap-select.min.css] -->
	<link href="~/lib/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
	<!-- AdminLTE  [adminlte.min.css] -->
	<link href="~/lib/AdminLTE/css/adminlte.min.css" rel="stylesheet" />
	<!-- Google Font: Source Sans Pro -->
	<link href="~/lib/googlefontscss.css" rel="stylesheet" />
	<!-- JQuery Smart Wizard CSS -->
	<link href="~/lib/JQuery Smart Wizard/smart_wizard_all.min.css" rel="stylesheet" />

</head>