<ul class="navbar-nav">
    <!--[SHOW / HIDE] START -->
    <li class="nav-item">
        <a class="nav-link"
           data-widget="pushmenu"
           href="#"
           role="button">
            <i class="fas fa-bars"></i>
        </a>
    </li>
    <!--[SHOW / HIDE] END -->
    <!-- HOME LINK START -->
    <li class="nav-item d-none d-sm-inline-block">
        <a asp-controller="Home"
           asp-action="@nameof(IHomeController.Index)"
           class="nav-link">Home</a>
    </li>
    <!-- HOME LINK END -->
</ul>