@model ViewTimesheet
<div class="card-body table-responsive p-0" style="height: 400px;">
    <!-- ADD CONTENT HERE -->
    <!-- INPUT LABEL -->
    <!-- TABLE START -->
    <table class="table table-head-fixed table-hover text-nowrap"
           id="dtTable">
        <!-- TABLE HEADER START -->
        <thead>
            <!-- ADD COLUMN HEADERS HERE -->
            <tr>
                <!-- 1st HEADER IS FOR BUTTONS -->
                <th></th>
                <th> Date </th>
                <th> Clock In </th>
                <th> Clock Out</th>
            </tr>
        </thead>

        <!-- TABLE HEADER END -->

     

    </table>
 </div>