<!-- PATIENT PROFILE NAV START -->
<li class="nav-item has-treeview men menu-open">
    <!-- OPTION HEADER START -->
    <a href="#" class="nav-link active">
        <i class="nav-icon fas fa-user-circle"></i>
        <p>
            PATIENT PROFILE
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <!-- OPTION HEADER END -->
    <!-- LEVEL 1 CONTAINER START -->
    <ul class="nav nav-treeview">
        <partial name="HTMLSections/Sidebar/ProfileMenu/searchNavPartial" />
        <partial name="HTMLSections/Sidebar/ProfileMenu/createNavPartial-mai" />
        <partial name="HTMLSections/Sidebar/ProfileMenu/referralNavPartial" />
    </ul>
    <!-- LEVEL 1 CONTAINER END -->
</li>
<!-- PATIENT PROFILE NAV END -->