<!-- LEVEL 1 OPTION START -->
<li class="nav-item">
    <a asp-controller="Admission"
       asp-action="AdmissionFile"
       class="nav-link">
        <i class="fas fa-file nav-icon"></i>
        <p>View Admission File</p>
    </a>
</li>
<!-- LEVEL 1 OPTION END -->
