<!-- LEVEL 1 & 2 CONTAINER START -->
<li class="nav-item has-treeview menu-open">
    <!-- LEVEL 1 OPTION START -->
    <a href="#" class="nav-link active">
        <i class="nav-icon fas fa-copy nav-icon"></i>
        <p>
            Admission File
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <!-- LEVEL 1 OPTION END -->
    <!-- LEVEL 2 CONTAINER START -->
    <ul class="nav nav-treeview ml-1">
        <!-- LEVEL 2 OPTION START -->
        <li class="nav-item">
            <a asp-controller="Admission"
               asp-action="AdmissionFile"
               class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>View File</p>
            </a>
        </li>
        <!-- LEVEL 2 OPTION END -->
        <!-- LEVEL 2 OPTION START -->
        <li class="nav-item">
            <a asp-controller="Admission"
               asp-action="Discharge"
               class="nav-link active">
                <i class="fas fa-user-minus nav-icon"></i>
                <p>Discharge Patient</p>
            </a>
        </li>
        <!-- LEVEL 2 OPTION END -->
    </ul>
    <!-- LEVEL 2 CONTAINER END -->
</li>
<!-- LEVEL 1 & 2 CONTAINER END -->
