<!-- LEVEL 1 OPTION START -->
<li class="nav-item">
    <a asp-controller="Admission"
       asp-action="Referral"
       class="nav-link">
        <i class="fas fa-copy nav-icon"></i>
        <p>Patient Refferal List</p>
    </a>
</li>
<!-- LEVEL 1 OPTION END -->
