<!-- SIDEBAR NAV SECTION -->
@section movementMenu {
	<partial name="HTMLSections/Sidebar/_sidebarPatientMovePartial" />
}

<!-- PAGE HEADER -->
<partial name="Header/checkOutPartial" />

<div class="content">
	<div class="container-fluid">

		<!-- 12 COLUMN ROW START -->
		<!--START OF ROW 1 !-->
		<div class="row ">
			<!-- TOP INFO BOXES START-->
			<partial name="Card/CheckOut/infoPartial" />
			<!-- TOP INFO BOXES START-->
		</div>
		<!--END OF ROW 1 !-->
		<!-- 12 COLUMN ROW END -->
		<!-- 12 COLUMN ROW START -->
		<!--START OF ROW 2 !-->
		<div class="row">
			<!-- 6 COLUMN CARD START -->
			<div class="col-md-6">
				<form asp-action=""
						  asp-controller="">
				<div class="card card-lightblue ">
					<!-- CARD HEADER START -->
					<partial name="Card/CheckOut/headerPartial" />
					<!-- CARD HEADER END -->
					<!-- CARD FORM START -->
					

						<!-- CARD BODY START -->
						<partial name="Card/CheckOut/bodyPartial" />
						<!-- CARD BODY END -->
						<!-- CARD FOOTER START -->
						<div class="card-footer text-center">

							<!-- FOOTER CONTENT HERE -->
							<button asp-action=""
									type="submit"
									class="btn btn-outline-primary ">
								Check Out
							</button>
							@*<button type="submit"
										class="btn btn-default float-right">
									Cancel
								</button>*@
						</div>
						<!-- CARD FOOTER END -->

					</form>
					<!-- CARD FORM END -->

				</div>
				<!-- CARD END -->

			</div>
			<!-- 6 COLUMN CARD START -->
			<!-- 6 COLUMN CARD START -->
			<div class="col-md-6">
				<div class="card card-lightblue">
					<!-- CARD HEADER START -->
					<partial name="Card/CheckOut/inHeaderPartial" />
					<!-- CARD HEADER END -->
					<!-- CARD BODY START -->
					<partial name="Card/CheckOut/checkOutTablePartial" />
					<!-- CARD BODY END -->
					<!-- CARD FOOTER START -->
					<div class="card-footer">
						<button asp-action=""
								type="submit"
								class="btn btn-outline-primary float-left">
							EXPORT TO PDF
						</button>
						<button asp-action=""
								type="submit"
								class="btn btn-outline-secondary float-right">
							PRINT
						</button>
					</div>
					<!-- CARD FOOTER END -->
				</div>
				<!-- /.card -->
			</div>
			<!-- 6 COLUMN CARD START -->


		</div>
		<!--END OF ROW 2 !-->
		<!-- 12 COLUMN ROW END -->
	</div>
</div><!-- /.container-fluid -->
<!-- CONTENT CONTAINER END -->