<div class="modal fade"
     id="patientCreateHelp">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <!-- HEADER TITLE HERE -->
                <h4 class="modal-title">
                    Create a patient profile.
                </h4>
                <!-- CLOSE BUTTON -->
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- CAROUSEL IDENTIFIER NAME -->
                <div id="carouselProfileCreate"
                     class="carousel slide"
                     data-ride="carousel">
                    <ol class="carousel-indicators">
                        <!-- CAROUSEL IDENTIFIER TARGET -->
                        <li data-target="#carouselProfileCreate"
                            data-slide-to="0"
                            class="active"></li>
                        <!-- CAROUSEL IDENTIFIER TARGET -->
                        <li data-target="#carouselProfileCreate"
                            data-slide-to="1"
                            class=""></li>
                        <!-- CAROUSEL IDENTIFIER TARGET -->
                        <li data-target="#carouselProfileCreate"
                            data-slide-to="2"
                            class=""></li>
                    </ol>
                    <div class="carousel-inner">
                        <!-- CAROUSEL FIRST ITEM -->
                        <div class="carousel-item carousel-item-next carousel-item-left">
                            <!-- IAMGE -->
                            <img class="d-block w-100" src="~/img/help/profile/001-create.png" />
                            <!-- DESCRIPTION -->
                            <div class="text-center">
                                Select the
                                <!-- HIGHLIGHT -->
                                <code>
                                    'Create Profile'
                                </code>
                                menu from the side navigation.
                            </div>
                        </div>
                        <div class="carousel-item">
                            <!-- IAMGE -->
                            <img class="d-block w-100" src="~/img/help/profile/002-create.png" />
                            <!-- DESCRIPTION -->
                            <div class="text-center">
                                The side navigation shows the steps, which the user can navigate through.<br />
                                The progress tracker shows the validation state of the information.
                            </div>
                        </div>
                        <!-- CAROUSEL LAST ITEM -->
                        <div class="carousel-item active carousel-item-left">
                            <!-- IAMGE -->
                            <img class="d-block w-100" src="~/img/help/profile/003-create.png" />
                            <!-- DESCRIPTION -->
                            <div class="text-center">
                                The user can review the information and submit to create a profile.
                            </div>
                        </div>
                    </div>
                    <!-- CAROUSEL PREVIOUS -->
                    <a class="carousel-control-prev"
                       href="#carouselProfileCreate"
                       role="button"
                       data-slide="prev">
                        <span class="carousel-control-prev-icon"
                              aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <!-- CAROUSEL NEXT -->
                    <a class="carousel-control-next"
                       href="#carouselProfileCreate"
                       role="button" data-slide="next">
                        <span class="carousel-control-next-icon"
                              aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>